################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/4915project.slnx/FileContentIndex
/.vs/4915/FileContentIndex
